.nav-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-flex-container a {
    /*color: #FFFFFF;*/
    text-decoration: none;
}

.nav-flex-item {
    align-items: center; /* <---- NEW    */

    background-color: gainsboro;
    width: 300px;
    height: 250px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.panel {
    padding: 20px;
    margin-left: 10%;

    margin-bottom: 35px;
}

.panel label {
    margin-bottom: 0;
}

.panel input {
    margin-top: 5px;
}

.panel-item {
    margin-bottom: 25px;
}

.add-tag-btn {
    border: none;
    border-radius: 15px;
}

table, th, td {
    border: 1px solid black;
    word-wrap:break-word;
    min-width:75px;
    max-width: 100em;
}
